@model APP_HotelBeachSA.Models.SuperReservacion

@{
    ViewData["Title"] = "Confirmacion";
    Layout = "~/Views/Shared/_ReservacionesLayout.cshtml";
}

<body>
    <div class="container">
        <main role="main" class="pb-3">               

            <div class="row gap-4">

                <div class="mt-4 d-block bg-grey col-md-7 p-5 rounded">

                    
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- Container for Comfirmation -->
                        <div id="confirmation">
                            <h3 class="fw-bold">Reservation Summary</h3>

                            <div class="row">
                                <!-- Reservation Info -->
                                <div class="col-7 bg-white-outline px-3 pt-3 rounded my-4">

                                    <div class="d-flex">
                                        <div class="col">
                                            <p class="small simple-text fw-light">Check-in</p>
                                        <p class="fw-bold">@Model.Reservacion.Entrada.Day/@Model.Reservacion.Entrada.Month/@Model.Reservacion.Entrada.Year  @Model.Reservacion.Entrada.TimeOfDay </p>
                                        </div>
                                        <p class="px-3 vertical-line"></p>
                                        <div class="col">
                                            <p class="small simple-text fw-light">Check-out</p>
                                        <p class="fw-bold">@Model.Reservacion.Salida.Day/@Model.Reservacion.Salida.Month/@Model.Reservacion.Salida.Year  @Model.Reservacion.Salida.TimeOfDay</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="col">
                                            <p class="small simple-text fw-light">Type of Package</p>
                                            <p class="fw-bold">@Model.Paquete.Nombre</p>
                                        </div>
                                        <p class="px-3"></p>
                                        <div class="col">
                                            <p class="small simple-text fw-light">Nights</p>
                                            <p class="fw-bold">@Model.Reservacion.Noches nights</p>
                                        </div>
                                    </div>

                                    <div class="">
                                        <p class="small simple-text fw-light">Number of guests</p>
                                        <p class="fw-bold">@Model.Reservacion.Huespedes people</p>
                                    </div>
                                </div>

                                <!-- Payment Info -->
                                <div class="ms-4 col-4 bg-white-outline px-3 pt-3 rounded my-4">
                                    <div class="">
                                        <p class="small simple-text fw-light">Type of Payment</p>
                                        <p class="fw-bold">@Model.TipoPago</p>
                                    </div>
                                    <div class="">
                                        <p class="small simple-text fw-light">Payment Number</p>
                                        <p class="fw-bold">@Model.Pago.Numero_Pago</p>
                                    </div>
                                    <div class="">
                                        <p class="small simple-text fw-light">Date</p>
                                    <p class="fw-bold">@Model.Pago.Fecha_Registro.Day/@Model.Pago.Fecha_Registro.Month/@Model.Pago.Fecha_Registro.Year</p>
                                    </div>
                                </div>

                            </div>

                            <!-- Price Info -->
                            <div class="col-7">
                                <h6 class="fw-bold mt-2">Price Summary</h6>
                                <div class="d-flex">
                                    <p class="flex-grow-1 simple-text">Per Person</p>
                                    <p class="simple-text">$@Model.CostoPersona.ToString("F")</p>
                                </div>
                                <div class="d-flex">
                                    <p class="flex-grow-1 simple-text">Total</p>
                                    <p class="simple-text">$@Model.CostoTotal.ToString("F")</p>
                                </div>
                                <div class="d-flex">
                                    <p class="flex-grow-1 simple-text">%Iva</p>
                                    <p class="simple-text">$@Model.Iva.ToString("F")</p>
                                </div>
                                <div class="d-flex pb-2">
                                    <p class="flex-grow-1 simple-text">Discount</p>
                                    <p class="simple-text">- $@Model.MontoDescuento.ToString("F")</p>
                                </div>
                               
                                <div class="d-flex ">
                                    <h5 class="fw-bold blue-text flex-grow-1 m-0">Total Price</h5>
                                    <h5 class="fw-bold blue-text m-0">$@Model.Reservacion.Total.ToString("F")</h5>
                                </div>
                                <div class="d-flex">
                                    <p class="blue-text flex-grow-1 m-0">Colones</p>
                                <p class="blue-text m-0">@Model.MontoColones.ToString("C")</p>
                                </div>
                                <hr class="my-1" />
                                <div class="d-flex mt-1">
                                    <p class="blue-text flex-grow-1">Advance</p>
                                    <p class="blue-text">$@Model.Adelanto.ToString("F")</p>
                                </div>
                            </div>

                            <a asp-controller="Reservaciones" asp-action="RegistrarDB" class="btn fw-bold btn-primary-org mt-4 px-4 me-2">Book</a>
                            <a asp-controller="Reservaciones" asp-action="Index" class="btn fw-bold btn-primary-org-outline mt-4 px-4">Cancel</a>

                        </div>
                   
                    
                                        
                </div>
                
            </div>


        </main>
    </div>


</body>


