@model APP_HotelBeachSA.Models.SuperReservacion

@{
    ViewData["Title"] = "Confirmacion";
    Layout = "~/Views/Shared/_ReservacionesLayout.cshtml";
}

<h1>Confirmacion</h1>

<h4>SuperReservacion</h4>
<hr />
<div class="row">


    <div class="mt-4 d-block bg-grey col-md-7 p-5 rounded">
        
    </div>

</div>


<body>
    <div class="container">
        <main role="main" class="pb-3">
            <h1 class="mt-4">Reservation</h1>

            <!-- Container for Reservation Steps -->
            <div class="mt-4 col-md-7">
                <div class="d-flex">

                    <div id="information-circle"
                         class="circle-outline d-flex justify-content-center align-items-center me-3">
                        <p class="d-inline align-self-center fw-bold m-0">3</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <h6 class="lead d-inline align-middle fw-bold m-0">Information</h6>
                    </div>

                    <p class="d-inline align-self-center horizontal-line mx-4"></p>

                    <div id="dates-circle" class="circle d-flex justify-content-center align-items-center me-3">
                        <p class="d-inline align-self-center fw-bold m-0">1</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <h6 class="lead d-inline align-middle fw-bold m-0">Dates</h6>
                    </div>

                    <p class="d-inline align-self-center horizontal-line mx-4"></p>

                    <div id="payment-circle"
                         class="circle-outline d-flex justify-content-center align-items-center me-3">
                        <p class="d-inline align-self-center fw-bold m-0">2</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <h6 class="lead d-inline align-middle fw-bold m-0">Payment</h6>
                    </div>





                </div>

            </div>



            <div class="row gap-4">

                <div class="mt-4 d-block bg-grey col-md-7 p-5 rounded">

                    <form asp-action="Confirmacion">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- Container for Comfirmation -->
                        <div id="confirmation">
                            <h3 class="fw-bold">Reservation Summary</h3>

                            <div class="row">
                                <!-- Reservation Info -->
                                <div class="col-7 bg-white-outline px-3 pt-3 rounded my-4">

                                    <div class="d-flex">
                                        <div class="col">
                                            <p class="small simple-text fw-light">Check-in</p>
                                            <p class="fw-bold">@Model.Reservacion.Entrada</p>
                                        </div>
                                        <p class="px-3 vertical-line"></p>
                                        <div class="col">
                                            <p class="small simple-text fw-light">Check-out</p>
                                            <p class="fw-bold">@Model.Reservacion.Salida</p>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="col">
                                            <p class="small simple-text fw-light">Type of Package</p>
                                            <p class="fw-bold">@Model.Paquete.Nombre</p>
                                        </div>
                                        <p class="px-3"></p>
                                        <div class="col">
                                            <p class="small simple-text fw-light">Nights</p>
                                            <p class="fw-bold">@Model.Reservacion.Noches nights</p>
                                        </div>
                                    </div>

                                    <div class="">
                                        <p class="small simple-text fw-light">Number of guests</p>
                                        <p class="fw-bold">@Model.Reservacion.Huespedes people</p>
                                    </div>
                                </div>

                                <!-- Payment Info -->
                                <div class="ms-4 col-4 bg-white-outline px-3 pt-3 rounded my-4">
                                    <div class="">
                                        <p class="small simple-text fw-light">Type of Payment</p>
                                        <p class="fw-bold">@Model.Pago.Tipo_Pago</p>
                                    </div>
                                    <div class="">
                                        <p class="small simple-text fw-light">Payment Number</p>
                                        <p class="fw-bold">@Model.Pago.Numero_Pago</p>
                                    </div>
                                    <div class="">
                                        <p class="small simple-text fw-light">Date</p>
                                        <p class="fw-bold">@Model.Pago.Fecha_Registro</p>
                                    </div>
                                </div>

                            </div>

                            <!-- Price Info -->
                            <div class="col-7">
                                <h6 class="fw-bold mt-2">Price Summary</h6>
                                <div class="d-flex pb-0">
                                    <p class="flex-grow-1 simple-text">Guests</p>
                                    <p class="simple-text">$@Model.CostoPersona</p>
                                </div>
                                <div class="d-flex">
                                    <p class="flex-grow-1 simple-text">Discount</p>
                                    <p class="simple-text">- $@Model.MontoDescuento</p>
                                </div>
                                <div class="d-flex">
                                    <p class="flex-grow-1 simple-text">%Iva</p>
                                    <p class="simple-text">$@Model.Iva</p>
                                </div>

                                <div class="d-flex mt-3">
                                    <p class="lead blue-text flex-grow-1">Advance</p>
                                    <p class="lead blue-text">$@Model.Adelanto</p>
                                </div>
                                <div class="d-flex ">
                                    <h5 class="fw-bold blue-text flex-grow-1 m-0">Total Price</h5>
                                    <h5 class="fw-bold blue-text m-0">$@Model.Reservacion.Total</h5>
                                </div>
                                <div class="d-flex">
                                    <p class="blue-text flex-grow-1">Colones</p>
                                    <p class="blue-text">794 829,85</p>
                                </div>
                            </div>

                            <button type="submit" class="btn fw-bold btn-primary-org mt-4 px-4 me-2">Book</button>
                            <button asp-action="Index" class="btn fw-bold btn-primary-org-outline mt-4 px-4">Cancel</button>

                        </div>
                    </form>
                    
                                        
                </div>
                
            </div>


        </main>
    </div>


</body>


