@model APP_HotelBeachSA.Models.SuperReservacion

@{
    ViewData["Title"] = "CrearReservacion";
    Layout = "~/Views/Shared/_ReservacionesLayout.cshtml";
}

<body>
    <div class="container">
        <main role="main" class="pb-3">
            <h1 class="mt-4">Reservation</h1>

            <!-- Container for Reservation Steps -->
            <div class="mt-4 col-md-7">
                <div class="d-flex">

                    <div id="information-circle"
                         class="circle-outline d-flex justify-content-center align-items-center me-3">
                        <p class="d-inline align-self-center fw-bold m-0">1</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <h6 class="lead d-inline align-middle fw-bold m-0">Information</h6>
                    </div>

                    <p class="d-inline align-self-center horizontal-line mx-4"></p>

                    <div id="dates-circle" class="circle d-flex justify-content-center align-items-center me-3">
                        <p class="d-inline align-self-center fw-bold m-0">2</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <h6 class="lead d-inline align-middle fw-bold m-0">Dates</h6>
                    </div>

                    <p class="d-inline align-self-center horizontal-line mx-4"></p>

                    <div id="payment-circle"
                         class="circle-outline d-flex justify-content-center align-items-center me-3">
                        <p class="d-inline align-self-center fw-bold m-0">3</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <h6 class="lead d-inline align-middle fw-bold m-0">Payment</h6>
                    </div>


                </div>

            </div>



            <div class="row gap-4">

                <div class="mt-4 d-block bg-grey col-md-7 p-5 rounded">


                    <form asp-action="CrearReservacion">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Container for Dates and Guests -->
                        <div id="dates">
                            <h3 class="fw-bold">Please fill out the information</h3>
                            <div class="d-flex gap-4 mt-4">
                                <div class="mb-3 col-5">
                                    <label asp-for="Reservacion.Entrada" class="control-label pb-2">Check-in</label>
                                    <input asp-for="Reservacion.Entrada" class="form-control">
                                    <span asp-validation-for="Reservacion.Entrada" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-5">
                                    <label asp-for="Reservacion.Salida" class="control-label pb-2">Check-out</label>
                                    <input asp-for="Reservacion.Salida" class="form-control">
                                    <span asp-validation-for="Reservacion.Salida" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 col-5">
                                <label asp-for="Reservacion.Huespedes" class="control-label pb-2">Number of guests</label>
                                <input asp-for="Reservacion.Huespedes" class="form-control">
                                <span asp-validation-for="Reservacion.Huespedes" class="text-danger"></span>
                            </div>

                            <button onclick="changeToPayment()"
                                    class="btn fw-bold btn-primary-org mt-4 px-4 me-2">
                                Next
                            </button>
                            <a asp-controller="Reservaciones" asp-action="Index" class="btn fw-bold btn-primary-org-outline mt-4 px-4">Cancel</a>
                        </div>


                        <!-- Container for Type of Payment -->
                        <div id="payment" class="d-none">
                            <h3 class="fw-bold">Please fill out the information</h3>
                            <div class="d-flex gap-4 mt-4">
                                <div class="mb-3 col-5">
                                    <label asp-for="Pago.Tipo_Pago" class="control-label pb-2">Type of Payment</label>
                                    <select asp-for="Pago.Tipo_Pago" id="type-payment" onchange="showCheckInfo()" class="form-select"
                                            aria-label="Type of Payment">
                                        <option value="K">Cash</option>
                                        <option value="T">Card</option>
                                        <option value="C">Check</option>
                                    </select>
                                </div>
                            </div>

                            <div id="check-payment" class="">
                                <div class="mb-3 col-5">
                                    <label asp-for="Pago.Numero_Pago" class="control-label pb-2">Check Number</label>
                                    <input asp-for="Pago.Numero_Pago" class="form-control">
                                    <span asp-validation-for="Pago.Numero_Pago" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-5">
                                    <label asp-for="Cheque.Moneda" class="control-label pb-2">Currency</label>
                                    <input asp-for="Cheque.Moneda" class="form-control">
                                    <span asp-validation-for="Cheque.Moneda" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-5">
                                    <label asp-for="Cheque.Cantidad" class="control-label pb-2">Quantity</label>
                                    <input asp-for="Cheque.Cantidad" class="form-control">
                                    <span asp-validation-for="Cheque.Cantidad" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-5">
                                    <label asp-for="Cheque.Nombre_Banco" class="control-label pb-2">Bank Name</label>
                                    <input asp-for="Cheque.Nombre_Banco" class="form-control">
                                    <span asp-validation-for="Cheque.Nombre_Banco" class="text-danger"></span>
                                </div>
                            </div>

                            <div id="card-payment" class="">
                                <div class="mb-3 col-5">
                                    <label asp-for="Pago.Numero_Pago" class="control-label pb-2">Card Number</label>
                                    <input asp-for="Pago.Numero_Pago" class="form-control">
                                    <span asp-validation-for="Pago.Numero_Pago" class="text-danger"></span>
                                </div>
                            </div>

                            <button type="submit"
                                    class="btn fw-bold btn-primary-org mt-4 px-4 me-2">
                                Next
                            </button>
                            <a asp-controller="Reservaciones" asp-action="Index" class="btn fw-bold btn-primary-org-outline mt-4 px-4">Cancel</a>
                        </div>

                    </form>
                </div>

                <!-- Container for Reservation Summary  -->
                <div id="summary" class="mt-4 bg-grey col-md-4 py-5 px-4 rounded">
                    <h5 class="fw-bold">Client Information</h5>

                    <div class="bg-white-outline px-2 pt-3 rounded my-4">
                        <div class="d-flex">
                            <div class="col">
                                <p class="small simple-text fw-light">Cedula</p>
                                <p asp-for="Reservacion.Id_Cliente" class="fw-bold">@Model.Cliente.Cedula</p>
                            </div>
                            <p class="px-3 vertical-line"></p>
                            <div class="col">
                                <p class="small simple-text fw-light">Type</p>
                                <p class="fw-bold">@Model.Cliente.Tipo_Cedula</p>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="col">
                                <p class="small simple-text fw-light">Name</p>
                                <p class="fw-bold">@Model.Cliente.Nombre</p>
                            </div>
                            <p class="px-3"></p>
                            <div class="col">
                                <p class="small simple-text fw-light">Last Name</p>
                                <p class="fw-bold">@Model.Cliente.Primer_Apellido @Model.Cliente.Segundo_Apellido</p>
                            </div>                                                       
                        </div>

                        <div class="">
                            <p class="small simple-text fw-light ">Contact</p>
                            <p class="small fw-bold m-0">Telephone: <span class="fw-normal">@Model.Cliente.Telefono</span></p>
                            <p class="small fw-bold m-0">Email: <span class="fw-normal">@Model.Cliente.Email</span></p>
                            <p class="small fw-bold ">Address: <span class="fw-normal">@Model.Cliente.Direccion</span></p>
                        </div>
                    </div>                 

                </div>
            </div>


        </main>
    </div>


</body>



